<form class="form-group" [formGroup]="form" (submit)="submit()">
  <div>
    <label>Nom</label>
    <input type="text"
           class="form-control"
           formControlName="label" />
    <p *ngIf="label.invalid && label.dirty">Wtf is this shit ?</p>
  </div>
  <div>
    <label>Code</label>
    <input type="text"
           class="form-control"
           formControlName="code" />
    <p *ngIf="code.invalid && code.dirty">Wut ?</p>
  </div>
  <div>
    <label>Type</label>
    <select formControlName="type">
      <option value="STRING">Chaîne de caractères</option>
      <option value="BOOLEAN">Logique</option>
      <option value="NUMERIC">Nombre</option>
      <option value="DATE">Date</option>
      <option value="REFERENCE">Liaison</option>
    </select>
  </div>
  <div *ngIf="type.value == 'REFERENCE'">
    <label>Destination</label>
    <select formControlName="reference">
      <option value="t.Id"
              *ngFor="let t of tables">{{ translator.tr(t.label) }}</option>
    </select>
  </div>
  <div>
    <input type="submit"
           value="Ajouter"
           [disabled]="form.invalid" />
  </div>
</form>
