<form class="form-group" [formGroup]="form" (submit)="save()">
  <h2>Editer le champ {{ field.id }}</h2>
  <div>
    <label>Nom</label>
    <input type="text"
           class="form-control"
           formControlName="label" />
    <p *ngIf="label.invalid && label.dirty">Wtf is this shit ?</p>
  </div>
  <div>
    <label>Code</label>
    <input type="text"
           class="form-control"
           formControlName="code" />
    <p *ngIf="code.invalid && code.dirty">Wut ?</p>
  </div>
  <div>
    <label>Archivée</label>
    <input type="checkbox"
           class="form-control"
           formControlName="archived" />
  </div>
  <div>
    <input type="submit"
           value="Modifier"
           [disabled]="form.invalid" />
  </div>
</form>
