<form class="form-group" [formGroup]="form" (submit)="addOrSave()">
  <div>
    <label>Nom</label>
    <input type="text"
           class="form-control"
           formControlName="name" />
    <p *ngIf="name.invalid && name.dirty">Wtf is this shit ?</p>
  </div>
  <div>
    <label>Code</label>
    <input type="text"
           class="form-control"
           formControlName="code" />
    <p *ngIf="code.invalid && code.dirty">Wut ?</p>
  </div>
  <div *ngIf="!persisted">
    <input type="submit"
           value="Ajouter"
           [disabled]="form.invalid" />
  </div>
</form>
