<div>
  <h2>Table</h2>
  <div class="column">
    <div *ngIf="action == 'add-table'">
      <h3>Créer une table</h3>
      <admin-table-add></admin-table-add>
    </div>
    <div *ngIf="action != 'add-table'">
      <h3 [routerLink]="['../../edit-table', table.id]">Modifier une table</h3>
      <div>
        <h4>{{ translator.tr(table.label) }}</h4>
        <p>{{ table.code }}</p>
      </div>
      <h3>Champs</h3>
      <div>
        <p>
          <span [routerLink]="['../../add-field', table.id]">Ajouter</span>
        </p>
        <admin-field-add *ngIf="action == 'add-field'" [table]="table"></admin-field-add>
        <p *ngIf="table.fields.length == 0">Aucun champ référencé</p>
        <ul *ngIf="table.fields.length > 0">
          <li *ngFor="let f of table.fields"
              [routerLink]="['../../edit-field', f.id]"
              (click)="field = f">{{ translator.translate(f.label) }} de type {{ f.configuration.type }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="column" *ngIf="action == 'edit-table'">
    <admin-table-edit [table]="table"></admin-table-edit>
  </div>
  <div class="column" *ngIf="action == 'edit-field'">
    <admin-field-edit [field]="field"></admin-field-edit>
  </div>
</div>
