<div>
  <div *ngIf="!loading">
    <h2>Ajouter une table</h2>
    <form (submit)="add()">
      <div>
        <label>Nom</label>
        <input type="text"
               name="name"
               [(ngModel)]="table.label.data[lang]" />
      </div>
      <div>
        <label>Code</label>
        <input type="text"
               name="code"
               [(ngModel)]="table.code" />
      </div>
      <div>
        <input type="submit" value="Ajouter" />
      </div>
    </form>
  </div>
  <div *ngIf="loading">Création en cours...</div>
</div>
